In [1]:
import pandas as pd
import fuzzywuzzy
from fuzzywuzzy import process
import datetime
import numpy as np

c:\Python311\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

## Compulsory Task 

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [2]:
# Load up store_income_data.csv
store_income_df = pd.read_csv('store_income_data_task.csv')
store_income_df.head(10)

,id,store_name,store_email,department,income,date_measured,country
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,4-2-2006,United States/
1,2,Nordson Corporation,NaN,Tools,$41744177.01,4-1-2006,Britain
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,12-9-2003,United States
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,8-5-2006,Britain/
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,21-1-1973,United Kingdom
5,6,"Auburn National Bancorporation, Inc.",ccaldeyroux5@dion.ne.jp,Grocery,$69798987.04,19-9-1999,U.K.
6,7,"Interlink Electronics, Inc.",orodenborch6@skyrock.com,Garden,$22521052.79,8-6-2001,SA
7,8,"Tallgrass Energy Partners, LP",NaN,Grocery,$54405380.40,16-9-1992,U.K/
8,9,Tronox Limited,NaN,Outdoors,$99290004.13,11-1-1992,America
9,10,"Synopsys, Inc.",lcancellieri9@tmall.com,Electronics,$44091294.62,11-7-2006,United Kingdom

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [3]:
# display the unique values in country column in store_income_df
countries = store_income_df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

There are 77 unique countries

array(['United States/', 'Britain', ' United States', 'Britain/',
       ' United Kingdom', 'U.K.', 'SA ', 'U.K/', 'America',
       'United Kingdom', nan, 'united states', ' S.A.', 'England ', 'UK',
       'S.A./', 'ENGLAND', 'BRITAIN', 'U.K', 'U.K ', 'America/', 'SA.',
       'S.A. ', 'u.k', 'uk', ' ', 'UK.', 'England/', 'england',
       ' Britain', 'united states of america', 'UK/', 'SA/', 'SA',
       'England.', 'UNITED KINGDOM', 'America.', 'S.A..', 's.a.', ' U.K',
       ' United States of America', 'Britain ', 'England', ' SA',
       'United States of America.', 'United States of America/',
       'United States.', 's. africasouth africa', ' England',
       'United Kingdom ', 'United States of America ', ' UK',
       'united kingdom', 'AMERICA', 'America ',
       'UNITED STATES OF AMERICA', ' S. AfricaSouth Africa', 'america',
       'S. AFRICASOUTH AFRICA', 'Britain.', '/', 'United Kingdom.',
       'United States', ' America', 'UNITED STATES', 'sa',
       'United States of America', 'UK ', 'United States ',
       'S. AfricaSouth Africa/', 'S.A.', 'United Kingdom/',
       'S. AfricaSouth Africa ', 'S. AfricaSouth Africa.',
       'S. AfricaSouth Africa', '.', 'britain'], dtype=object)

In [4]:
# converting the country data to lower case and striping white spaces
store_income_df['country'] = store_income_df['country'].str.lower()
store_income_df['country'] = store_income_df['country'].str.strip()

# display the unique countries
countries = store_income_df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

There are 37 unique countries

array(['united states/', 'britain', 'united states', 'britain/',
       'united kingdom', 'u.k.', 'sa', 'u.k/', 'america', nan, 's.a.',
       'england', 'uk', 's.a./', 'u.k', 'america/', 'sa.', '', 'uk.',
       'england/', 'united states of america', 'uk/', 'sa/', 'england.',
       'america.', 's.a..', 'united states of america.',
       'united states of america/', 'united states.',
       's. africasouth africa', 'britain.', '/', 'united kingdom.',
       's. africasouth africa/', 'united kingdom/',
       's. africasouth africa.', '.'], dtype=object)

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [5]:
# Function to replace rows in the provided column of the provided DataFrame
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # Get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # Only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # Get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # Replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match

In [6]:
# Calling function to replace for example uk/ as uk or uk. to uk 
# Similar function done for all other countries and reduces unique values of 
# country to 15 from 37
replace_matches_in_column(df=store_income_df, column='country', string_to_match="united kingdom")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="united states")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="south africa")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="united states of america")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="uk")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="u.k")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="sa")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="s.a.")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="s. africasouth africa")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="britain")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="england")
replace_matches_in_column(df=store_income_df, column='country', string_to_match="america")

# get all the unique values in the 'country' column
countries = store_income_df['country'].unique()

print(f"There are {len(countries)} unique countries")
countries

There are 15 unique countries

array(['united states', 'britain', 'united kingdom', 'u.k', 'sa',
       'america', nan, 's.a.', 'england', 'uk', '',
       'united states of america', 's. africasouth africa', '/', '.'],
      dtype=object)

In [7]:
# Replacing all remaining redundant countries with either united kingdom,
# south africa or united states
store_income_df.replace('britain', 'united kingdom', inplace=True)
store_income_df.replace('u.k', 'united kingdom', inplace=True)
store_income_df.replace('sa', 'south africa', inplace=True)
store_income_df.replace('america', 'united states', inplace=True)
store_income_df.replace('s.a.', 'south africa', inplace=True)
store_income_df.replace('england', 'united kingdom', inplace=True)
store_income_df.replace('uk', 'united kingdom', inplace=True)
store_income_df.replace('united states of america', 'united states', inplace=True)
store_income_df.replace('s. africasouth africa', 'south africa', inplace=True)

# Replacing all three countries in title case as given in question so changing
# from lowercase
store_income_df.replace('united kingdom','United Kingdom', inplace=True)
store_income_df.replace('united states','United States', inplace=True)
store_income_df.replace('south africa','South Africa', inplace=True)

# Replacing / . and '' with nan as these rows have no country name prepping for drop
store_income_df.replace('/', np.nan, inplace=True)
store_income_df.replace('.', np.nan, inplace=True)
store_income_df.replace('', np.nan, inplace=True)

# Dropping nan rows as these rows do not have country name

store_income_df.dropna(inplace=True)

# Get all the unique values in the 'country' column
countries = store_income_df['country'].unique()

print(f"There are {len(countries)} unique countries")
countries

There are 3 unique countries

array(['United Kingdom', 'South Africa', 'United States'], dtype=object)

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [8]:
# Get current date
current_date = pd.Timestamp.today()

# Get date_measured in format dd-mm-yyyy and then subtract current date from this 
# date and store it in new variable days_ago in store_income_df
store_income_df['date_parsed'] = pd.to_datetime(store_income_df['date_measured'], format='%d-%m-%Y')
store_income_df['date_parsed'].head()
store_income_df['days_ago']=(current_date - store_income_df['date_parsed']).dt.days
store_income_df.head()

,id,store_name,store_email,department,income,date_measured,country,date_parsed,days_ago
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,8-5-2006,United Kingdom,2006-05-08,6333
5,6,"Auburn National Bancorporation, Inc.",ccaldeyroux5@dion.ne.jp,Grocery,$69798987.04,19-9-1999,United Kingdom,1999-09-19,8756
6,7,"Interlink Electronics, Inc.",orodenborch6@skyrock.com,Garden,$22521052.79,8-6-2001,South Africa,2001-06-08,8128
9,10,"Synopsys, Inc.",lcancellieri9@tmall.com,Electronics,$44091294.62,11-7-2006,United Kingdom,2006-07-11,6269
15,16,New Home Company Inc. (The),nhinchcliffef@whitehouse.gov,Shoes,$90808764.99,21-4-1993,United Kingdom,1993-04-21,11098